*,
*::before,
*::after {
  box-sizing: border-box;
}
/* grey background */

body {
  background-color: lightgrey;
  font-family: Serif	Times New Roman;
  color:black;
  padding: 25px;
}

/* A picture of New York as a background with a double border*/

.top1{
  padding: 25px;
  font-size: 40px;
  color: white;
  background-image: url("background2.jpg");
  text-align: center;
  margin: 25px;
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
}

/*A white background with a double border*/

.paper1{
  padding: 25px;
  background-color: white;
  margin: 25px;
  border-style: double;
}

/*A second one for the right part*/

.paper2{
  padding: 25px;
  background-color: white;
  margin-top: 25px;
  border-style: double;
}


h2{
  font-size: 30px;
  text-align: center;
}

p{
  font-size: 17px;
}

/*The left part of the blog post, which fills 73% of it*/

.leftpart{
  width: 73%;
  float: left;
}

/*The right part, which fills 25%*/

.rightpart{
  width: 25%;
  float: left;
}

/*The end of the Blog post*/

.end{
  width: 100%;
  float: left;
  text-align: center;
}

/*How the link changes the colors when clicked, when visited,...*/

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

/*A code from w3scools, for the transition of the pictures*/

.container {
  position: relative;
  width: 75%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.text{
  color: black;
  background-color: white;
  font-size: 13px;
  padding: 13px 26px;
}


/*A second one for the next pciture*/


.container1 {
  position: relative;
  width: 100%;
}


.image1 {
  opacity: 1;
  display: block;
  width: 35%;
  height: 35%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-160%, 550%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image1 {
  opacity: 0.5;
}

.container1:hover .middle1 {
  opacity: 1;
}


.text1 {
  background-color: white;
  color: black;
  font-size: 13px;
  padding: 13px 26px;
}


/*A third one for the last picture */


.container2 {
  position: relative;
  width: 75%;
}


.image2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(25%, 325%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container2:hover .image2 {
  opacity: 0.5;
}

.container2:hover .middle2 {
  opacity: 1;
}

.text2{
  color: black;
  background-color: white;
  font-size: 13px;
  padding: 13px 26px;
}



