*,
*::before,
*::after {
  box-sizing: border-box;
}
/* grey background */

body {
  background-color: lightgrey;
  font-family: Serif	Times New Roman;
  color:black;
  padding: 25px;
}

.top1{
  padding: 25px;
  font-size: 40px;
  color: white;
  background-image: url("background2.jpg");
  text-align: center;
  margin: 25px;
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
}

.paper1{
  padding: 25px;
  background-color: white;
  margin: 25px;
  border-style: double;
}

.paper2{
  padding: 25px;
  background-color: white;
  margin-top: 25px;
  border-style: double;
}

h2{
  font-size: 30px;
  text-align: center;
}

p{
  font-size: 17px;
}

.leftpart{
  width: 75%;
  float: left;
}

.rightpart{
  width: 25%;
  float: left;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

.container {
  position: relative;
  width: 100%;
}


.image {
  opacity: 1;
  display: block;
  width: 600px;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}


.text {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}



