*,
*::before,
*::after {
  box-sizing: border-box;
}
/* blue background */

body {
  background-color: lightgreen;
  font-family: Serif	Times New Roman;
  color:black;
  padding: 25px;
}

.T1{
  padding: 25px;
  font-size: 40px;
  background-image: url("new\ york\ flag.jpg");
  text-align: center;
  margin: 30px;
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
}

.t1{
  padding: 25px;
  background-color: white;
  margin: 30px;
  border-style: double;
}

h2{
  font-size: 30px;
}

.t2{
  padding: 25px;
  background-color: white;
  margin: 30px;
  border-style: double;
}






